{
  "extends": "eslint-config-egg/typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "array-bracket-spacing": "off",
    "space-before-function-paren": "off",
    "comma-dangle": "off"
  }
}