logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.vscode
*.swp
*.lock
*.js
!.autod.conf.js

app/**/*.js
test/**/*.js
config/**/*.js
config/config.prod.ts
config/config.local.ts
app/**/*.map
test/**/*.map
config/**/*.map
